[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/free5gc/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/free5gc/nrf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = https://github.com/free5gc/chf.git
[submodule "tngf"]
	path = NFs/tngf
	url = https://github.com/free5gc/tngf.git
[submodule "NFs/nef"]
	path = NFs/nef
	url = https://github.com/rrsartpark/nef.git
[submodule "NFs/bsf"]
	path = NFs/bsf
	url = https://github.com/free5gc/bsf.git
[submodule "NFs/pcf"]
	path = NFs/pcf
	url = https://github.com/rrsartpark/pcf.git
[submodule "NFs/smf"]
	path = NFs/smf
	url = https://github.com/rrsartpark/smf.git
[submodule "NFs/upf"]
	path = NFs/upf
	url = https://github.com/rrsartpark/upf.git
[submodule "NFs/nssf"]
	path = NFs/nssf
	url = https://github.com/rrsartpark/nssf.git
[submodule "NFs/amf"]
	path = NFs/amf
	url = https://github.com/rrsartpark/amf.git
[submodule "NFs/udm"]
	path = NFs/udm
	url = https://github.com/rrsartpark/udm.git
[submodule "NFs/udr"]
	path = NFs/udr
	url = https://github.com/rrsartpark/udr.git
[submodule "NFs/ausf"]
	path = NFs/ausf
	url = https://github.com/rrsartpark/ausf.git
